body{
    margin: auto;
    display: flex;
    flex-direction: column;
}
* {
    box-sizing: border-box;
  }
.nav{
    background-color:lightgoldenrodyellow;
    width: calc(100% - 46px);
    height: 93px;
    padding: 20px;
    justify-content: space-between;
    display: flex;
    border: solid 3px black;
}
.nav-logo{
    background-color: lightslategray;
    background-image: url(./img_RWD_flex/無臉男.jpg);
    background-size: 160%;
    background-position: center;
    border-radius: 50%;
    border:black 5px solid;
    width: 100px;height: 100px;   
}
.menu{display: none;}
.nav-intro{
    background-color: rgba(255, 255, 255, 0);
}
.intro-btn{
    background-color: tan;
    box-shadow: rgb(165, 142, 111) 5px 5px;
    border-radius: 10px;
    border: black 3px solid;
    font-size: x-large;
    color:black;
    text-align: center;
    margin-right: 10px;
    
}
.intro-btn:hover{
    background-image: url(./img_RWD_flex/無臉男2.jpeg);
    background-size: cover;
}
a{
    text-decoration: none;
    line-height: 100px;
    padding: 10px;
}

.container{
    background-color: lightskyblue;
    /* 自動補齊剩下空間 */
    flex-grow: 1;
    display: flex;
    height: calc(100vh - 140px);
    justify-content: center;
    align-items: center;
}
 .content{
    /* min-width: calc(80% - 12px); */
    flex-basis: 800px;
    height: 478px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.content-img{
    background-color: white;
    background-size: cover;
    
    border: solid 3px black;
}
.content-img1{
    background-image:url(./img_RWD_flex/宗介3.jpg) ;
    background-position: center;
    background-size: cover;
    width: 800px;
    height: calc(50% - 10px);
    }
.content-img2{
    background-image:url(./img_RWD_flex/宗介1.jpg) ;
    background-position: center;
    width: 395px;
    height: calc(50% - 5px);
    }
.content-img3{
    background-image:url(./img_RWD_flex/宗介2.jpg) ;
    background-position-x: 0px;
    width: 395px;
    height: calc(50% - 5px);
    }